In [ ]:
#hello world
if 5>2:
    print("Hello")

Hello

In [ ]:
"""
This is a comment
written in
more than just one line
"""

'\nThis is a comment\nwritten in\nmore than just one line\n'

In [ ]:
x="5"
y="aj"
print(x+y)

5aj

In [ ]:
x=5
y="aj"
print(x)
print(y)

5
aj

In [ ]:
x=str("hello")
y=float(6)
print(x)
print(y)

hello
6.0

In [ ]:
x=1
y="hello"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

In [ ]:
x,y,z = "hello", 1 , 5.0
print("x contains ",x,"and is of type ",type(x))
print("y contains ",y,"and is of type ",type(y))
print("z contains ",z,"and is of type ",type(z))

x contains  hello and is of type  <class 'str'>
y contains  1 and is of type  <class 'int'>
z contains  5.0 and is of type  <class 'float'>

In [ ]:
x=y = "hello"
print(x)
print(y)

hello
hello

In [ ]:
array = ["item 1 ","item 2 ","item 3"]
x,y,z = array
print(x)
print(y)
print(z)

item 1
item 2
item 3

In [ ]:
x= "hello "
y= "how are you doing "
z= "today"
a=b=c=5
print(x+y+z)
print (x,y,z)
print (a+b+c)
print (a,b,c)

hello how are you doing today
hello  how are you doing  today
15
5 5 5

In [ ]:
x = "awesome"

def myfunc():
  x = "fantastic"
  print("Python is " + x)

myfunc()

print("Python is " + x)

Python is fantastic
Python is awesome

In [ ]:
x = "awesome"

def myfunc():
  global x
  x = "fantastic"
  print("Python is " + x)

myfunc()

print("Python is " + x)

Python is fantastic
Python is fantastic

In [ ]:
x = 1
y = 2.8
z = 1j

print(type(x))
print(type(y))
print(z)

<class 'int'>
<class 'float'>
1j

In [ ]:
y=2.8
x=int(y)
y=int(y)
print (x,y)

2 2

In [ ]:
import random
print (random .randrange (50000,60606060))

12496016

In [ ]:
y=str(50550505)
print (y)

50550505

In [ ]:
x="hello"
print(x[4])
print(x[0])

o
h

In [ ]:
x="hello"
z=0
while x[z]!="o":
 print (z,x[z])
 z+=1
 print(len(x))

0 h
5
1 e
5
2 l
5
3 l
5

In [ ]:
x="hello"
if "z"not in x :
  print("gg")

gg

In [ ]:
b="hello world"
print (b[3:-5])

lo

In [ ]:
for x in "hello":
  print(x)

h
e
l
l
o

In [ ]:
b="         hello world           "
b=b.upper()
print(b)
print(b.lower())
print(b.strip())
b=b.replace("HELLO","greetings")
print (b)
b=b.strip()
b.split(" ")

         HELLO WORLD
         hello world
HELLO WORLD
         greetings WORLD

['greetings', 'WORLD']

In [ ]:
age,age1,age2 = 36636,434,343
txt = "My{}{} name is John, and I am {}"
print (age1+age+age2)
print(txt.format(age,age1,age2))

37413
My36636434 name is John, and I am 343

In [ ]:
print(bool(None))

False

In [ ]:
x = x | 3
print(x)

In [ ]:
7|3

7

In [ ]:
thislist = ["apple", "banana", "cherry"]
print(thislist)
print(len(thislist))

['apple', 'banana', 'cherry']
3

In [ ]:
thislist = ["apple", "banana","cherry"]
print(thislist[-1])

cherry

In [ ]:
thislist = ["apple", "banana", "cherry"]

thislist[1:2] = ["blackcurrant", "watermelon"]

print(thislist)

['apple', 'blackcurrant', 'watermelon', 'cherry']

In [ ]:

thislist = ["apple", "banana", "cherry"]
thislist.insert(2, "watermelon")
print(thislist)

['apple', 'banana', 'watermelon', 'cherry']

In [ ]:

thislist = ["apple", "banana", "cherry"]
thislist.append("orange")
print(thislist)

['apple', 'banana', 'cherry', 'orange']

In [ ]:
thislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]
thislist.extend(tropical)
print(thislist)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

In [ ]:
thislist = ["apple", "banana", "cherry", "banana", "kiwi"]
while "banana"in thislist:
 thislist.remove("banana")
 print(thislist)

['apple', 'cherry', 'banana', 'kiwi']
['apple', 'cherry', 'kiwi']

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist.pop(1)
print(thislist)

['apple', 'cherry']

In [ ]:
thislist = ["apple", "banana", "cherry"]
del thislist[0]
print(thislist)

['banana', 'cherry']

In [ ]:
thislist = ["apple", "banana", "cherry"]
for x in thislist:
  print(x)
print (thislist)

apple
banana
cherry
['apple', 'banana', 'cherry']

In [ ]:
thislist = ["apple", "banana", "cherry"]
for i in range(len(thislist)):
  print(thislist[i])

apple
banana
cherry

In [ ]:
thislist = ["apple", "banana", "cherry"]
i = 0
while i < len(thislist):
  print(thislist[i])
  i = i + 1

In [ ]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
  if "a" in x:
    newlist.append(x)

print(newlist)

['apple', 'banana', 'mango']

In [ ]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x for x in fruits if "a" in x]

print(newlist)

['apple', 'banana', 'mango']

In [ ]:
newlist = [x for x in range(10) if x < 5]
print (newlist)

[0, 1, 2, 3, 4]

In [ ]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort(reverse = True)
print(thislist)

['pineapple', 'orange', 'mango', 'kiwi', 'banana']

In [ ]:
thislist = ["apple", "banana", "cherry"]
mylist = thislist.copy()
print(mylist)

['apple', 'banana', 'cherry']

In [ ]:
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)

['a', 'b', 'c', 1, 2, 3]

In [ ]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

for x in list2:
  list1.append(x)

print(list1)

In [ ]:
thistuple = ("apple",)
print(type(thistuple))

#NOT a tuple
thistuple = ("apple")
print(type(thistuple))

<class 'tuple'>
<class 'str'>

In [ ]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[-4:-1])

('orange', 'kiwi', 'melon')

In [ ]:
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

('apple', 'kiwi', 'cherry')

In [ ]:
fruits = ("apple", "banana", "cherry")

(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
cherry

In [ ]:
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

(green, yellow, *red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
['cherry', 'strawberry', 'raspberry']

In [ ]:
fruits = ("apple", "mango", "papaya", "pineapple", "cherry")

(green, *tropic, red) = fruits

print(green)
print(tropic)
print(red)

apple
['mango', 'papaya', 'pineapple']
cherry

In [ ]:
fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2

print(mytuple)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

In [ ]:
thisset = {"apple", "banana", "cherry", "apple"}

print(thisset)

{'banana', 'cherry', 'apple'}

In [ ]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

banana
cherry
apple

In [ ]:
thisset = {"apple", "banana", "cherry"}

print("banana" in thisset)

False

In [ ]:
thisset = {"apple", "banana", "cherry"}

thisset.add("orange")

print(thisset)

{'banana', 'cherry', 'orange', 'apple'}

In [ ]:
thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]

thisset.update(mylist)

print(thisset)

{'cherry', 'banana', 'kiwi', 'apple', 'orange'}

In [ ]:
thisset = {"apple", "banana", "cherry"}

thisset.remove("banana")

print(thisset)

{'cherry', 'apple'}

In [ ]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{1, 2, 3, 'b', 'a', 'c'}

In [ ]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.intersection_update(y)

print(x)

{'apple'}

In [ ]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.intersection(y)

print(z)

{'apple'}

In [ ]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.symmetric_difference_update(y)

print(x)

{'cherry', 'microsoft', 'banana', 'google'}

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,
  "year": 2020
}
print(thisdict)
print(len(thisdict))
x = thisdict.keys()
y = thisdict.values()
z = thisdict.items()#gives list of tuples

print(x)
print (y)
print (z)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}
3
dict_keys(['brand', 'model', 'year'])
dict_values(['Ford', 'Mustang', 2020])
dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 2020)])

In [ ]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.keys()

print(x) #before the change

car["color"] = "white"

print(x) #after the change

dict_keys(['brand', 'model', 'year'])
dict_keys(['brand', 'model', 'year', 'color'])

In [ ]:
for x in thisdict:##for key names
  print(x)
for x in thisdict.keys():
  print(x)

brand
model
year
brand
model
year

In [ ]:
for x in thisdict:## for values
  print(thisdict[x])

Ford
Mustang
2020

In [ ]:
for x, y in thisdict.items():## print everything
  print(x, y)

brand Ford
model Mustang
year 2020

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
mydict = thisdict.copy()
print(mydict)

In [ ]:
myfamily = {
  "child1" : {
    "name" : "Emil",
    "year" : 2004
  },
  "child2" : {
    "name" : "Tobias",
    "year" : 2007
  },
  "child3" : {
    "name" : "Linus",
    "year" : 2011
  }
}###3nested dictionary

In [ ]:
child1 = {
  "name" : "Emil",
  "year" : 2004
}
child2 = {
  "name" : "Tobias",
  "year" : 2007
}
child3 = {
  "name" : "Linus",
  "year" : 2011
}

myfamily = {
  "child1" : child1,
  "child2" : child2,
  "child3" : child3
}


print(myfamily["child2"]["name"])

Tobias

In [ ]:
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

In [ ]:
i = 1
while i < 6:
  print(i)
  i += 1
else:
  print("i is no longer less than 6")

In [ ]:
def my_function(fname):
  print(fname + " Refsnes")

my_function("Emil")
my_function("Tobias")
my_function("Linus")

Emil Refsnes
Tobias Refsnes
Linus Refsnes

In [ ]:
def my_function(*kids):
  print("The youngest child is " + kids[2])

my_function("Emil", "Tobias", "Linus")

The youngest child is Linus

In [ ]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

p1 = Person("John", 36)

print(p1.name)
print(p1.age)

John
36

In [ ]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

p1 = Person("John", 36)

print(p1)

<__main__.Person object at 0x79ca09a0cca0>

In [ ]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def __str__(self):
    return f"{self.name}({self.age})"

p1 = Person("John", 36)

print(p1)

John(36)